#bannerLogo {
    font-family: 'Pacifico', cursive;
    font-size: 22pt;
}

.container {
    margin: 15px;
}

.card {
    text-align: center;
    margin-bottom: 25px;
}

.about, .hoods {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
}

.card:hover {
    opacity: .8;
}

.card-title:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.card-title {
    font-size: 23pt;
    margin-top: 25px;
}

.card-img {
    opacity: .7;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.titleDiv {
    font-family: 'Pacifico', cursive;
    font-size: 34pt;
    text-align: center;
    margin-bottom: 20px;
}

#mapContainer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 70vh;
    width: 80%;
}

#mapHolder {
    position: relative;
    height: 70vh;
    width: 100%;
}

#overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    opacity: 0.7;
    background: #fff url('../images/loading.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#map {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.businessImg{
    height: 47%;
    width: 47%;
}

.description {
    text-align: justify;
    text-indent: 50px;
}

#aboutDiv {
    padding: 30px;
}

/* some media queries */

@media only screen and (max-width: 991px) {
    .hoods {
        font-size: 18pt;
    }
}

@media only screen and (max-width: 767px) {
    .hoods {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 575px) {
    .hoods {
        font-size: 23pt;
        letter-spacing: 3px;
    }
}